@tailwind base;
@tailwind components;
@tailwind utilities;



button{
  @apply  text-black font-bold m-10 rounded-full;
}
.clr1{
  color: #fdb713;
  color: #6f42c1;
}

@keyframes overlayAnimation {
  0%{
    opacity: 0;
    transform: translateY(100px);
  }
  100%{
    opacity: 1;
    transform: translateY(0);
  }
  
}


.overlay{
  animation: overlayAnimation 1s 0s backwards;
}